@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  display: flex;
  overflow: hidden;
}

.sidebar {
  padding-top: 10px;
  width: 265.223px;
  height: auto;
  background-color: #fcfcf0;
  border-right: 1px solid #000;
  overflow: hidden;
}

.logo {
  margin-left: 48px;
  margin-top: 2%;
  width: 176px;
  height: 30px;
  background-image: url('../assets/images/96858bf39fb28499437875ab86a6d1dcd335a243.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.homeicon {
  background-image: url(../assets/images/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4%;
  margin-right: 3%;
  width: 18px;
  height: 18px;
}

.profileicon {
  background-image: url(../assets/images/profile.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4%;
  margin-right: 3%;
  width: 18px;
  height: 18px;
}

.nav-links {
  margin-top: 28.915px;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Raleway';
  font-size: 23.93px;
  font-weight: bold;
  color: #2f2f2a;
  margin-left: 49.854px;
}

.user-hash-btn{
  width: 184.46px;
  height: 41.877px;
  background-color: #ce6343;
  color: white;
  border: 1px solid #000;
  border-radius: 11.852px;
  overflow: hidden;
  margin-top: 25.924px;
  margin-left: 49.854px;
}

.connect-btn {
  width: 184.46px;
  height: 41.877px;
  background-color: #A2E3A0;
  border: 1px solid #000;
  border-radius: 11.852px;
  overflow: hidden;
  margin-top: 25.924px;
  margin-left: 49.854px;
}

.content {
  margin-left: 2%;
}

.post-input {
  width: 613px;
  height: 133px;
  background-color: #d7d8c9;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 26px;
  
}

.post-input input {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: bold;
  color: #000;
  border: none;
  outline: none;
}

.post-btn {
  width: 91px;
  height: 33.235px;
  background-color: #2f2f2a;
  border-radius: 9.406px;
  border: none;
  overflow: hidden;
  margin-top: 12px;
  margin-left: 522px;
  color: #fcfcf0;
  font-family: 'Raleway';
  font-size: 13.44px;
  font-weight: bold;
}

.post {
  width: 613px;
  background-color: #d7d8c9;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.user-avatar {
  float: left;
  margin-right: 10px;
  margin-top: 2%;
  margin-left: 2%;
  width: 49px;
  height: 49px;
  background-image: url('../assets/images/78919fd0-ee13-4419-80f3-1c857dd6aea4.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.user-details{
  margin-top: 1%;
}

.username {
  font-family: 'Raleway';
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-right: 5px;
}

.post-time {
  font-family: 'Lusitana';
  font-size: 6.32px;
  color: #b2553a;
}

.post-content {
  width: 516px;
  font-family: 'Lusitana';
  font-size: 12px;
  color: #000;
  margin-left: 72px;
  margin-top: 2%;
}

.tip-amount {
  display: block;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: bold;
  color: #000;
  margin-top: 38px;
  margin-left: 542px;
}

.tip-btn {
  width: 81px;
  height: 30px;
  background-color: #fcfcf0;
  border-radius: 11.887px;
  border: 1px solid #000;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 522px;
  margin-bottom: 10px;
  color: #2f2f2a;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    border: none;
  }
  .content {
    margin-left: 0;
  }
}
